@import url("https://fonts.cdnfonts.com/css/newsflash-bb");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "DM Sans", var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-newsflash: "NewsFlash BB", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-newsflash);
  font-size: clamp(3rem, 10vw, 15rem);
  font-weight: 500;
  line-height: 1;
  letter-spacing: .25;
}

p {
  font-family: var(--font-dm-sans);
  font-size: 1.75rem;
  line-height: 1.25;
  font-weight: 400;
  color: var(--color-foreground);
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  min-height: 100svh;
  overflow: hidden;
}

section.four {
  height: 200svh;


}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2rem;
  transform: rotate(30deg);
  transform-origin: bottom left;
  will-change: transform;
}

.container .col {
  flex: 1;
  display: flex;

}

.container .col .img {
  width: 35%;
  height: auto;
  aspect-ratio: 4 / 5;
  overflow: hidden;
  
}

.one .container .col:nth-child(2),
.five .container .col:nth-child(2),
.six .container .col:nth-child(2) {
  align-items: flex-end;
}

.two .container .col:nth-child(1),
.three .container .col:nth-child(2) {
  justify-content: center;
  align-items: center;
}

.two .container .col:nth-child(2),
.three .container .col:nth-child(1) {
  flex-direction: column;
  justify-content: flex-start;
}

.four .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.four .img {
  width: 30%;
  margin-bottom: 1rem;
}

.four p {
  width: 50%;
}

footer {
  position: relative;
  width: 100%;
  height: 70svh;
  padding: 2rem;
  background-color: #0f0f0f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}